include AUTHORS
include README.rst
include ChangeLog
include LICENSE
include sentry/db/sqlalchemy/alembic/README
include sentry/db/sqlalchemy/alembic/alembic.ini
include sentry/db/sqlalchemy/alembic/script.py.mako
include sentry/db/sqlalchemy/alembic/env.py
include sentry/db/sqlalchemy/alembic/versions/*.sql
include sentry/db/sqlalchemy/alembic/versions/*.py
include sentry/alarm/templates/*.html
include sentry/alarm/templates/*.css
include sentry/alarm/templates/*.js

recursive-include sentry/static *
recursive-include sentry/templates/html *

exclude .gitignore
exclude .gitreview

global-exclude *.pyc
