<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <title>{% block title %}class B | 10-165-0-8 | nova-api-metadata | &lt;type &#039;exceptions.TypeError&#039;&gt;{% endblock %}</title>
    <style>
    {% include '_email_style.css' %}
    </style>
  </head>
  <body>
  <div class="debugger">


    <h1>
      {% block head %}
      <a href="http://admin.cloud-dev.netease.com/ops/service#/m/exlogs/detail/?id=b0cd1539-6122-4022-a113-fd18d03660d7">class B | 10-165-0-8 | nova-api-metadata</a>
      {% endblock %}
    </h1>

    {% block content %}
    <h2>&lt;type &#039;exceptions.TypeError&#039;&gt;: string indices must be integers</h2>
    <div class="box">
      <table class="source">
        <tbody><tr>
          <td class="strong">happend at</td>
          <td>2015-05-08 11:09:09+08:00</td>
        </tr>
        <tr>
          <td class="strong">Environment</td>
          <td>class B</td>
        </tr>
        <tr>
          <td class="strong">Exception-uuid</td>
          <td>b0cd1539-6122-4022-a113-fd18d03660d7</td>
        </tr>
        <tr>
          <td class="strong">Hostname</td>
          <td>10-165-0-8</td>
        </tr>
        <tr>
          <td class="strong">Binary</td>
          <td>nova-api-metadata</td>
        </tr>
        <tr>
          <td class="strong">Level</td>
          <td>ERROR</td>
        </tr>
        <tr>
          <td class="strong">Count</td>
          <td>1</td>
        </tr>
        <tr>
          <td class="strong">Note</td>
          <td>None</td>
        </tr>
      </tbody></table>
    </div>

    <h2 class="traceback">Traceback (most recent call last)</h2>
    <div class="traceback">
      <ul>
        <li>
        <div class="frame" id="frame-139760617221584">
          <h4>
            File <cite class="filename">"/usr/lib/python2.7/dist-packages/nova/api/ec2/__init__.py"</cite>,
            line <em class="line">87</em>,
            in <code class="function">__call__</code>
          </h4>
          <pre>    return req.get_response(self.application)</pre>
        </div>
        </li>
        <li>
        <div class="frame" id="frame-139760617221584">
          <h4>
            File <cite class="filename">"/usr/lib/python2.7/dist-packages/webob/request.py"</cite>,
            line <em class="line">1296</em>,
            in <code class="function">send</code>
          </h4>
          <pre>    application, catch_exc_info=False)</pre>
        </div>
        </li>
        <li>
        <div class="frame" id="frame-139760617221584">
          <h4>
            File <cite class="filename">"/usr/lib/python2.7/dist-packages/webob/request.py"</cite>,
            line <em class="line">1260</em>,
            in <code class="function">call_application</code>
          </h4>
          <pre>    app_iter = application(self.environ, start_response)</pre>
        </div>
        </li>
        <li>
        <div class="frame" id="frame-139760617221584">
          <h4>
            File <cite class="filename">"/usr/lib/python2.7/dist-packages/webob/dec.py"</cite>,
            line <em class="line">130</em>,
            in <code class="function">__call__</code>
          </h4>
          <pre>    resp = self.call_func(req, *args, **self.kwargs)</pre>
        </div>
        </li>
      </ul>
      <blockquote>string indices must be integers</blockquote>
    </div>

    <h2>RPC Service status changed</h2>
    <div class="box">
      <p>10-120-120-12 status => <span class="strong">timeout</span> </p>
    </div>

    {% endblock %}

    <div class="footer">
      Auto generated by sentry. Please do not reply.
    </div><!--footer-->

  </div><!-- debugger -->
  </body>
</html>
