{% extends "base.html" %}


{% block extra_css %}
<link href="http://cdn.bootcss.com/datatables/1.10.7/css/jquery.dataTables.min.css" rel="stylesheet">
<style>
  #rt_flot, #rpm_flot {
    height: 250px;
  }
</style>
{% endblock %}


{% block extra_js %}
<script src="http://cdn.bootcss.com/flot/0.8.3/jquery.flot.min.js"></script>
<script src="http://cdn.bootcss.com/flot/0.8.3/jquery.flot.time.min.js"></script>

<script src="http://cdn.bootcss.com/datatables/1.10.7/js/jquery.dataTables.min.js"></script>

<script type="text/javascript" language="javascript">
$(document).ready(function() {
  $('.datatable').dataTable({
      stateSave: true,
      "pageLength": 50,
  });

  var options = {
    xaxis: { 
      mode:"time",
      timeformat: "%Y-%m-%d %H:%M:%S",
      timezone: "browser",
    },
    yaxis: {
      show: true,
    },
    series: {
        lines: { show: true },
        points: { show: false }
    },
    legend: {
      backgroundOpacity: 0.0,
    },
  };
  $.plot('#rt_flot', {{ flot1_datas }}, options);

  $.plot('#rpm_flot', {{ flot2_datas }}, options);

});
</script>
{% endblock %}


{% block content %}

<h2>{{ api_name }}</h2>
<hr/>

<div id='toolbox' class="pull-right">
  <a href="?h=1" class="btn btn-default {% if hour == 1 %}btn-primary{%endif%}">1h</a>
  <a href="?h=3" class="btn btn-default {% if hour == 3 %}btn-primary{%endif%}">3h</a>
  <a href="?h=6" class="btn btn-default {% if hour == 6 %}btn-primary{%endif%}">6h</a>
  <a href="?h=12" class="btn btn-default {% if hour == 12 %}btn-primary{%endif%}">12h</a>
  <a href="?h=24" class="btn btn-default {% if hour == 24 %}btn-primary{%endif%}">24h</a>
  <a href="?h=72" class="btn btn-default {% if hour == 72 %}btn-primary{%endif%}">3d</a>
  <a href="?h=168" class="btn btn-default {% if hour == 168 %}btn-primary{%endif%}">7d</a>
  <a href="?h=720" class="btn btn-default {% if hour == 720 %}btn-primary{%endif%}">30d</a>
</div>

<h3>Response Time</h3>
<div id="rt_flot">
</div>

<h3>Request Per Minute</h3>
<div id="rt_flot">
<div id="rpm_flot">
</div>

{% block flot_detail %}
{% endblock %}

{% endblock %}
