{% extends "_metric_base.html" %}

{% set CURRENT = "metrics_http" %}

{% block flot_detail %}
{% if latest %}
<h2>HTTP API Detail</h2>
<hr/>
<div id="rt_flot">
<div id="detail">
  <table class="table table-striped datatable">
    <thead>
      <tr>
        <th>HTTP API</th>
        <th>50% RT</th>
        <th>90% RT</th>
        <th>100% RT</th>
        <th>RPM</th>
      </tr>
    </thead>
    <tbody>
      {% for metric in latest %}
      <tr>
        <td>
            <a href="{{ metric.dimension_value }}/">
                {{ metric.dimension_value }}
            </a>
        </td>
        <td>{{ metric.metrics.http_rt_mean }}</td>
        <td>{{ metric.metrics.http_rt_upper_90 }}</td>
        <td>{{ metric.metrics.http_rt_upper }}</td>
        <td>{{ metric.metrics.http_rt_count }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}
{% endblock %}
