{% extends "_metric_base.html" %}

{% set CURRENT = "metrics_rpc" %}

{% block flot_detail %}
<h2>RPC API Detail</h2>
<hr/>
<div id="rt_flot">
<div id="detail">
  <table class="table table-striped datatable">
    <thead>
      <tr>
        <th>RPC API</th>
        <th>50% RT</th>
        <th>90% RT</th>
        <th>100% RT</th>
        <th>RPM</th>
      </tr>
    </thead>
    <tbody>
      {% for metric in latest %}
      <tr>
        <td>{{ metric.dimension_value }}</td>
        <td>{{ metric.metrics.rpc_rt_mean }}</td>
        <td>{{ metric.metrics.rpc_rt_upper_90 }}</td>
        <td>{{ metric.metrics.rpc_rt_upper }}</td>
        <td>{{ metric.metrics.rpc_rt_count }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
