[DEFAULT]

#
# Options defined in sentry.ncm
#

# NCM host. e.g, 127.0.0.1 (string value)
#ncm_host=<None>

# NCM port, default is 8186. (integer value)
#ncm_port=8186

# The namespace when push metric data. (string value)
#ncm_namespace=openstack

# The project_id when push metric data. (string value)
#ncm_project_id=openstack_sentry

# The access key to access to NCM. (string value)
#ncm_access_key=<None>

# The secret key to access to NCM. (string value)
#ncm_secret_key=<None>


#
# Options defined in sentry.alarm.api
#

# A list contains the class of alarm driver. (list value)
#alarm_driver_classes=sentry.alarm.driver.mail.EmailDriver

# In quiet seconds the same alarm does not set off. (integer
# value)
#alarm_quiet_seconds=600


#
# Options defined in sentry.common.http_communication
#

# Retry counts when http connection failed. (integer value)
#http_retry_count=3

# Retry dealy when http connection failed. (floating point
# value)
#http_retry_delay=3.0


#
# Options defined in sentry.common.novaclient_helper
#

# Nova Client Username (string value)
#novaclient_username=default

# Nova Client Password (string value)
#novaclient_password=default

# Nova Client Project Name (string value)
#novaclient_projectName=default

# Nova Client Keystone Url (string value)
#novaclient_keystoneUrl=default


#
# Options defined in sentry.db.sqlalchemy.session
#

# The SQLAlchemy connection string used to connect to the
# database (string value)
#sql_connection=sqlite:////sentry/db/sentry.sqlite

# Whether echo raw sql in log. (boolean value)
#sql_debug=false

# The SQLAlchemy max_overflow config (integer value)
#sql_max_overflow=10

# The SQLAlchemy pool_size config (integer value)
#sql_pool_size=5

# The SQLAlchemy pool_recycle config (integer value)
#sql_pool_recycle=3600


#
# Options defined in sentry.messaging
#

# Cinder rabbit broker hosts. (list value)
# Deprecated group/name - [DEFAULT]/rabbit_hosts
#cinder_rabbit_hosts=localhost:5672

# Cinder rabbit exchange name. (string value)
#cinder_exchange=openstack

# Cinder rabbit userid. (string value)
#cinder_rabbit_userid=$rabbit_userid

# Cinder rabbit password. (string value)
#cinder_rabbit_password=$rabbit_password

# Cinder rabbit virtual host. (string value)
#cinder_rabbit_virtual_host=$rabbit_virtual_host

# Cinder rabbit durable (boolean value)
#cinder_rabbit_durable=false

# Cinder HA queues (boolean value)
# Deprecated group/name - [DEFAULT]/rabbit_ha_queues
#cinder_ha_queue=false

# Cinder event handlers (list value)
#cinder_event_handlers=cinder,bi_log

# Seconds to wait for a response from call or multicall
# (integer value)
#cinder_rpc_response_timeout=60

# Glance rabbit broker hosts. (list value)
# Deprecated group/name - [DEFAULT]/rabbit_hosts
#glance_rabbit_hosts=localhost:5672

# Glance rabbit exchange name. (string value)
#glance_exchange=glance

# Glance rabbit userid. (string value)
#glance_rabbit_userid=$rabbit_userid

# Glance rabbit password. (string value)
#glance_rabbit_password=$rabbit_password

# Glance rabbit virtual host. (string value)
#glance_rabbit_virtual_host=$rabbit_virtual_host

# Glance rabbit durable (boolean value)
#glance_rabbit_durable=false

# Glance HA queues (boolean value)
# Deprecated group/name - [DEFAULT]/rabbit_ha_queues
#glance_ha_queue=false

# Glance event handlers (list value)
#glance_event_handlers=glance,bi_log

# Seconds to wait for a response from call or multicall
# (integer value)
#glance_rpc_response_timeout=60

# Neutron rabbit broker hosts. (list value)
# Deprecated group/name - [DEFAULT]/rabbit_hosts
#neutron_rabbit_hosts=localhost:5672

# Neutron rabbit exchange name. (string value)
#neutron_exchange=neutron

# Neutron rabbit userid. (string value)
#neutron_rabbit_userid=$rabbit_userid

# Neutron rabbit password. (string value)
#neutron_rabbit_password=$rabbit_password

# Neutron rabbit virtual host. (string value)
#neutron_rabbit_virtual_host=$rabbit_virtual_host

# Neutron rabbit durable (boolean value)
# Deprecated group/name - [DEFAULT]/neutron_durable
#neutron_rabbit_durable=false

# Neutron HA queues (boolean value)
# Deprecated group/name - [DEFAULT]/rabbit_ha_queues
#neutron_ha_queue=false

# Neutron event handlers (list value)
#neutron_event_handlers=neutron,bi_log

# Seconds to wait for a response from call or multicall
# (integer value)
#neutron_rpc_response_timeout=60

# Nova rabbit broker hosts. (list value)
# Deprecated group/name - [DEFAULT]/rabbit_hosts
#nova_rabbit_hosts=localhost:5672

# Nova rabbit exchange name. (string value)
#nova_exchange=nova

# Nova rabbit userid. (string value)
#nova_rabbit_userid=$rabbit_userid

# Nova rabbit password. (string value)
#nova_rabbit_password=$rabbit_password

# Nova rabbit virtual host. (string value)
#nova_rabbit_virtual_host=$rabbit_virtual_host

# nova rabbit durable (boolean value)
#nova_rabbit_durable=false

# nova HA queues (boolean value)
# Deprecated group/name - [DEFAULT]/rabbit_ha_queues
#nova_ha_queue=false

# Nova event handlers (list value)
#nova_event_handlers=nova,notifier,bi_log

# Seconds to wait for a response from call or multicall
# (integer value)
#nova_rpc_response_timeout=60


#
# Options defined in sentry.notification.handlers.notifier
#

# Enable notification about instance deleting (boolean value)
#enable_notifier=true

# The RabbitMQ address which used to notify. (string value)
#notifier_rabbit_host=$rabbit_host

# The RabbitMQ port which used to notify (integer value)
#notifier_rabbit_port=5672

# The RabbitMQ userid to notify (string value)
#notifier_rabbit_userid=$rabbit_userid

# The RabbitMQ password to notify (string value)
#notifier_rabbit_password=$rabbit_password

# The RabbitMQ virtual host to notify (string value)
#notifier_rabbit_virtual_host=$rabbit_virtual_host

# The exchange name of nvs notifier. (string value)
#notifier_exchange=nvs_fanout

# The expiration of message in seconds, The default is 24
# hours (integer value)
#notifier_ttl=86400


#
# Options defined in sentry.notification.manager
#

# The max greenthread to process messages. (integer value)
#pipeline_pool_size=50


#
# Options defined in sentry.openstack.common.lockutils
#

# Whether to disable inter-process locks (boolean value)
#disable_process_locking=false

# Directory to use for lock files. Default to a temp directory
# (string value)
#lock_path=<None>


#
# Options defined in sentry.openstack.common.log
#

# Print debugging output (set logging level to DEBUG instead
# of default WARNING level). (boolean value)
#debug=false

# Print more verbose output (set logging level to INFO instead
# of default WARNING level). (boolean value)
#verbose=false

# Log output to standard error (boolean value)
#use_stderr=true

# format string to use for log messages with context (string
# value)
#logging_context_format_string=%(asctime)s.%(msecs)03d %(process)d %(levelname)s %(name)s [%(request_id)s %(user)s %(tenant)s] %(instance)s%(message)s

# format string to use for log messages without context
# (string value)
#logging_default_format_string=%(asctime)s.%(msecs)03d %(process)d %(levelname)s %(name)s | %(instance)s%(message)s

# data to append to log format when level is DEBUG (string
# value)
#logging_debug_format_suffix=%(funcName)s %(pathname)s:%(lineno)d

# prefix each line of exception output with this format
# (string value)
#logging_exception_prefix=%(asctime)s.%(msecs)03d %(process)d TRACE %(name)s %(instance)s

# list of logger=LEVEL pairs (list value)
#default_log_levels=amqplib=WARN,amqp=WARN,iso8601=WARN,sqlalchemy=WARN,boto=WARN,suds=INFO,keystone=INFO,eventlet.wsgi.server=WARN,sentry.openstack.common.lockutils=WARN

# publish error events (boolean value)
#publish_errors=false

# make deprecations fatal (boolean value)
#fatal_deprecations=false

# If an instance is passed with the log message, format it
# like this (string value)
#instance_format="[instance: %(uuid)s] "

# If an instance UUID is passed with the log message, format
# it like this (string value)
#instance_uuid_format="[instance: %(uuid)s] "

# If this option is specified, the logging configuration file
# specified is used and overrides any other logging options
# specified. Please see the Python logging module
# documentation for details on logging configuration files.
# (string value)
#log_config=<None>

# DEPRECATED. A logging.Formatter log message format string
# which may use any of the available logging.LogRecord
# attributes. This option is deprecated.  Please use
# logging_context_format_string and
# logging_default_format_string instead. (string value)
#log_format=<None>

# Format string for %%(asctime)s in log records. Default:
# %(default)s (string value)
#log_date_format=%Y-%m-%d %H:%M:%S

# (Optional) Name of log file to output to. If no default is
# set, logging will go to stdout. (string value)
# Deprecated group/name - [DEFAULT]/logfile
#log_file=<None>

# (Optional) The base directory used for relative --log-file
# paths (string value)
# Deprecated group/name - [DEFAULT]/logdir
#log_dir=<None>

# Use syslog for logging. (boolean value)
#use_syslog=false

# syslog facility to receive log lines (string value)
#syslog_log_facility=LOG_USER


#
# Options defined in sentry.openstack.common.notifier.api
#

# Driver or drivers to handle sending notifications (multi
# valued)
#notification_driver=

# Default notification level for outgoing notifications
# (string value)
#default_notification_level=INFO

# Default publisher_id for outgoing notifications (string
# value)
#default_publisher_id=<None>


#
# Options defined in sentry.openstack.common.notifier.rpc_notifier
#

# AMQP topic used for OpenStack notifications (list value)
#notification_topics=notifications


#
# Options defined in sentry.openstack.common.rpc
#

# The messaging module to use, defaults to kombu. (string
# value)
#rpc_backend=sentry.openstack.common.rpc.impl_kombu

# Size of RPC thread pool (integer value)
#rpc_thread_pool_size=64

# Size of RPC connection pool (integer value)
#rpc_conn_pool_size=30

# Seconds to wait for a response from call or multicall
# (integer value)
#rpc_response_timeout=60

# Seconds to wait before a cast expires (TTL). Only supported
# by impl_zmq. (integer value)
#rpc_cast_timeout=30

# Modules of exceptions that are permitted to be recreatedupon
# receiving exception data from an rpc call. (list value)
#allowed_rpc_exception_modules=nova.exception,cinder.exception,exceptions

# If passed, use a fake RabbitMQ provider (boolean value)
#fake_rabbit=false

# AMQP exchange to connect to if using RabbitMQ or Qpid
# (string value)
#control_exchange=nova


#
# Options defined in sentry.openstack.common.rpc.amqp
#

# Use durable queues in amqp. (boolean value)
# Deprecated group/name - [DEFAULT]/rabbit_durable_queues
#amqp_durable_queues=false

# Auto-delete queues in amqp. (boolean value)
#amqp_auto_delete=false


#
# Options defined in sentry.openstack.common.rpc.impl_kombu
#

# SSL version to use (valid only if SSL enabled). valid values
# are TLSv1, SSLv23 and SSLv3. SSLv2 may be available on some
# distributions (string value)
#kombu_ssl_version=

# SSL key file (valid only if SSL enabled) (string value)
#kombu_ssl_keyfile=

# SSL cert file (valid only if SSL enabled) (string value)
#kombu_ssl_certfile=

# SSL certification authority file (valid only if SSL enabled)
# (string value)
#kombu_ssl_ca_certs=

# The RabbitMQ broker address where a single node is used
# (string value)
#rabbit_host=localhost

# The RabbitMQ broker port where a single node is used
# (integer value)
#rabbit_port=5672

# RabbitMQ HA cluster host:port pairs (list value)
#rabbit_hosts=$rabbit_host:$rabbit_port

# connect over SSL for RabbitMQ (boolean value)
#rabbit_use_ssl=false

# the RabbitMQ userid (string value)
#rabbit_userid=guest

# the RabbitMQ password (string value)
#rabbit_password=guest

# the RabbitMQ virtual host (string value)
#rabbit_virtual_host=/

# how frequently to retry connecting with RabbitMQ (integer
# value)
#rabbit_retry_interval=1

# how long to backoff for between retries when connecting to
# RabbitMQ (integer value)
#rabbit_retry_backoff=2

# maximum retries with trying to connect to RabbitMQ (the
# default of 0 implies an infinite retry count) (integer
# value)
#rabbit_max_retries=0

# use H/A queues in RabbitMQ (x-ha-policy: all).You need to
# wipe RabbitMQ database when changing this option. (boolean
# value)
#rabbit_ha_queues=false


#
# Options defined in sentry.openstack.common.rpc.impl_qpid
#

# Qpid broker hostname (string value)
#qpid_hostname=localhost

# Qpid broker port (integer value)
#qpid_port=5672

# Qpid HA cluster host:port pairs (list value)
#qpid_hosts=$qpid_hostname:$qpid_port

# Username for qpid connection (string value)
#qpid_username=

# Password for qpid connection (string value)
#qpid_password=

# Space separated list of SASL mechanisms to use for auth
# (string value)
#qpid_sasl_mechanisms=

# Seconds between connection keepalive heartbeats (integer
# value)
#qpid_heartbeat=60

# Transport to use, either 'tcp' or 'ssl' (string value)
#qpid_protocol=tcp

# Disable Nagle algorithm (boolean value)
#qpid_tcp_nodelay=true

# The qpid topology version to use.  Version 1 is what was
# originally used by impl_qpid.  Version 2 includes some
# backwards-incompatible changes that allow broker federation
# to work.  Users should update to version 2 when they are
# able to take everything down, as it requires a clean break.
# (integer value)
#qpid_topology_version=1


#
# Options defined in sentry.openstack.common.rpc.impl_zmq
#

# ZeroMQ bind address. Should be a wildcard (*), an ethernet
# interface, or IP. The "host" option should point or resolve
# to this address. (string value)
#rpc_zmq_bind_address=*

# MatchMaker driver (string value)
#rpc_zmq_matchmaker=sentry.openstack.common.rpc.matchmaker.MatchMakerLocalhost

# ZeroMQ receiver listening port (integer value)
#rpc_zmq_port=9501

# Number of ZeroMQ contexts, defaults to 1 (integer value)
#rpc_zmq_contexts=1

# Maximum number of ingress messages to locally buffer per
# topic. Default is unlimited. (integer value)
#rpc_zmq_topic_backlog=<None>

# Directory for holding IPC sockets (string value)
#rpc_zmq_ipc_dir=/var/run/openstack

# Name of this node. Must be a valid hostname, FQDN, or IP
# address. Must match "host" option, if running Nova. (string
# value)
#rpc_zmq_host=sentry


#
# Options defined in sentry.openstack.common.rpc.matchmaker
#

# Heartbeat frequency (integer value)
#matchmaker_heartbeat_freq=300

# Heartbeat time-to-live. (integer value)
#matchmaker_heartbeat_ttl=600


[BI]

#
# Options defined in sentry.notification.handlers.bi_log
#

# The file name of BI log. Default is sentry_bi.log (string
# value)
#log_file=sentry-bi.log

# The days that the BI log will holds. Default is 7 days
# (integer value)
#log_interval=7


[api]

#
# Options defined in sentry.api
#

# sentry-api listen on the port. (integer value)
#listen_port=7788

# sentry-api listen on the host. (string value)
#listen_host=0.0.0.0

# API debug mode will using `wsgiref` to run wsgi, which make
# life easier for debuging. (boolean value)
#api_debug=false

# Workers silent for more than this many seconds are killed
# and restarted. (integer value)
#worker_timeout=180

# The number of forked works (integer value)
#workers=1

# The number of eventlet threads (integer value)
#threads=10

# Default item return in a API call. (integer value)
#default_items=20


[database]

#
# Options defined in sentry.openstack.common.db.api
#

# The backend to use for db (string value)
# Deprecated group/name - [DEFAULT]/db_backend
#backend=sqlalchemy

# Enable the experimental use of thread pooling for all DB API
# calls (boolean value)
# Deprecated group/name - [DEFAULT]/dbapi_use_tpool
#use_tpool=false


[matchmaker_redis]

#
# Options defined in sentry.openstack.common.rpc.matchmaker_redis
#

# Host to locate redis (string value)
#host=127.0.0.1

# Use this port to connect to redis host. (integer value)
#port=6379

# Password for Redis server. (optional) (string value)
#password=<None>


[matchmaker_ring]

#
# Options defined in sentry.openstack.common.rpc.matchmaker_ring
#

# Matchmaker ring file (JSON) (string value)
# Deprecated group/name - [DEFAULT]/matchmaker_ringfile
#ringfile=/etc/oslo/matchmaker_ring.json


[monitor]

#
# Options defined in sentry.rabbit_admin
#

# The rabbit_admin page url. (integer value)
#rabbit_admin_port=15672

# The rabbit admin user id. (string value)
#rabbit_admin_userid=$rabbit_userid

# The rabbit admin user password. (string value)
#rabbit_admin_password=$rabbit_password


#
# Options defined in sentry.monitor.manager
#

# Whether enable OpenStack RPC probering. (boolean value)
#enabled=false

# The interval in seconds monitor fetchs queues from rabbit
# (integer value)
#refresh_interval=30

# The interval in seconds prober openstack service (integer
# value)
#prober_interval=20


#
# Options defined in sentry.rpcclient.base
#

# The timeout in second for RPC calling. (integer value)
#rpc_timeout=300


[platform_watcher]

#
# Options defined in sentry.crons.platform_watcher
#

# Whether enable platform status watcher. (boolean value)
#enabled=false

# Memcached servers for caching instance heartbeat. (list
# value)
#memcached_servers=

# The interval in seconds watching platform status. (integer
# value)
#watch_interval=60

# When service is abnormal during this period(seconds), then
# it's been taken as abnormal for platform watcher. (integer
# value)
#service_abnormal_period=330

# When instance is abnormal during this period(seconds), then
# it's been taken as abnormal for platform watcher. (integer
# value)
#instance_abnormal_period=60

# When service or instance status is not been updated during
# this period(seconds), the status data should be deprecated.
# (integer value)
#status_expired_period=3600

# Whether to alarm platform abnormal. (boolean value)
#alarm_enabled=false


[rpc_notifier2]

#
# Options defined in sentry.openstack.common.notifier.rpc_notifier2
#

# AMQP topic(s) used for OpenStack notifications (list value)
#topics=notifications


[ssl]

#
# Options defined in sentry.openstack.common.sslutils
#

# CA certificate file to use to verify connecting clients
# (string value)
#ca_file=<None>

# Certificate file to use when starting the server securely
# (string value)
#cert_file=<None>

# Private key file to use when starting the server securely
# (string value)
#key_file=<None>


[statsd]

#
# Options defined in sentry.statsd.server
#

# The host of statsd listens on. (string value)
#bind_host=127.0.0.1

# The port os statsd listens on. (integer value)
#bind_port=8125

# The default buffer size each time receive from UDP. (integer
# value)
#udp_buffer=8192

# The cocurrency to process the UDP request. Default 3000
# (integer value)
#pool_size=3000

# The interval to send metric to NCM in seconds (integer
# value)
#flush_interval=60


